@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  font-family: "Comfortaa", "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* Для App.vue*/
.full-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  
} 

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  padding: 1rem;
  background:
  radial-gradient(circle at top left, #331f6c 0%, #4b2c85 80%),
  radial-gradient(circle at bottom right, #331f6c 0%, #4b2c85 80%);
  background-color: #1b1039;
}
