@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  font-family: "Comfortaa", "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* Для App.vue*/
.full-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  
} 

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  padding: 1rem;
  background:
  radial-gradient(circle at top left, #331f6c 0%, #4b2c85 80%),
  radial-gradient(circle at bottom right, #331f6c 0%, #4b2c85 80%);
  background-color: #1b1039;
}

/* ---------------------------
   📱 АДАПТАЦИЯ ДЛЯ ТЕЛЕФОНОВ
   Экран шириной до 500px
----------------------------*/
@media (max-width: 500px) {

  body {
    grid-template-rows: 12% 78% 10%;
  }

  .center-container {
    padding: 0.5rem;
  }

  /* Главная сетка 3х3 */
  .cells-ans {
    grid-template-columns: repeat(3, 75px);
    grid-template-rows: repeat(4, 75px);
    gap: 6px;
    margin-top: 10px;
  }

  /* Левая колонка — вопросы */
  .cells-quest {
    grid-template-rows: repeat(3, 75px);
    max-width: 75px;
    gap: 6px;
    margin-top: 91px;
    margin-right: 5px;
  }

  /* Правая колонка — статистика */
  .cells-stats {
    grid-template-rows: repeat(4, 75px);
    max-width: 75px;
    gap: 6px;
    margin: 10px 5px 0 5px;
  }

  /* Общие параметры ячеек */
  .cell-item,
  .cell-item-quest {
    min-width: 75px !important;
    min-height: 75px !important;
    border-radius: 4px;
    font-size: 8px;
    padding: 3px;
  }

  
  /* Иконки и флаги — уменьшаем */
  .stat-icon,
  .share {
    font-size: 20px !important;
  }

  .flag-icon, .flag-icon img  {
    width:44.8px  !important;
    height: 33.6px !important;
  }

  .stat-value {
    font-size: 20px !important;
  }

  .stat-text {
    bottom: 5px;
    font-size: 8px;
  }

  /* Поправка для блочных статистических элементов */
  .cell-item-quest.stats-item {
    padding: 5px 0px;
    gap: 6px;
  }

  /* Сетка внутри pg-con */
  .pg-con {
    
  }
}