@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  font-family: "Comfortaa", "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 80% 10%;
}